/* Header */
.nav-menu-item:nth-child(3) a{
    background-color:  #034574;
    color: #83c5f7    
}
/* Body */
.container_principal{
    position: relative;
    top: 0rem;    
    z-index: 1;
    width: 100%;
}      
.jumbotron{
    padding: 2rem;
    background-color:#EEF1FF;
    justify-content: center;
} 
.text-center{
    margin: 2rem 0;
}
.figure{
    display: flex;
    justify-content: center;
}
.img-fluid{
    width: 12rem;
    border-radius: 50rem;            
}        
.nombre{
    font-size: 1.2rem;
    font-weight:bold;            
    text-align: center;
    padding: 1rem 0rem;
}
.cargo{            
    text-align: center;
    color:darkgrey;
    font-size: 0.9rem;
}
.descripcion{
    font-size: 1rem;
    
}
.descripcion p{
    display: flex;
    align-items: center;
    text-align: justify;
}
.datos_academicos{
    padding: 2rem ;
    padding-bottom: 0rem;
    justify-content: center;
}
.educacion ul{
    padding: 1rem 0rem 2rem 2rem;
}
.intereses ul{
    padding: 1rem 0rem 2rem 2rem;
}
.areas ul{
    padding: 1rem 0rem 2rem 2rem;
}
h4{
    font-size: 1.2rem;
    font-weight:bold; 
}
.datos_academicos li,.datos_academicos p{
    font-size: 1rem;    
}
.articulos_cientificos{
    padding-bottom: 3rem;
}
.articulos_cientificos h3{
    font-size: 1.2rem;
}
.articulos_cientificos article{
    padding: 2rem;
}
.articulos_cientificos a{
    font-size: 1rem;
}
@media (min-width:767px){
    .jumbotron{
        display: flex;
        padding: 2rem 0rem;        
        width: 100%;
    }
    .text-center{
        margin: 2rem;
        padding: 2rem 0rem;
    }
    .nombre{
        font-size: 1.5rem;
    }
    .descripcion{
        padding: 4rem 2rem;
        justify-items: center;
    }
    .img-fluid{
        width: 15rem;
    }
    .datos_academicos{
        display: flex;        
    }
    .datos_academicos>div{
        padding: 2rem;
    }
    .descripcion{
        max-width: 40rem;
    }
    .container_principal{        
        max-width: 90vw;
        margin: auto;        
    } 
}

