/* body{
    padding-top: 2rem;
} */
ul{    
    margin: 1rem 1rem 2rem 2rem
}
.container_principal{
    
    margin: 0 1rem; 
}
.container_principal h1{
    padding: 1rem 0;
    font-size: 1.5rem;
}
.container_principal h2{
    font-size: 1rem;
}
.container_principal h3{
    padding-top: 1rem;
    font-size: 0.7rem;
}
.card1{
    min-height: 5rem;
}
.card1 p{
    padding-bottom: 0.5rem;    
}
.card1 a{
    text-decoration: none;
    color: #6E85B7;
    font-weight: bold;
}
@media (min-width:768px){
    .container_principal{        
        max-width: 70vw;
        margin: auto;
      } 
}
