/* Base - Pantallas móviles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 65.5%;  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 7rem 0;
}

/* header */  
.header {
  height: 10vh;
  background-color: #6E85B7;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 4;
}
.nav {
  height: inherit;
  display: flex;
  justify-content: space-between;
  width: 100%;  
  margin: 0 auto;
}

.nav .logotipo {
  display: flex;
  flex-direction: row;  
  padding: 1rem;
}

.nav .logotipo article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 .5rem;
}

.nav img{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  /* padding: 0 20px; */
  line-height: 60px;
}

.nav-menu {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  margin: 0;
  /* margin-left: 20vw; */
  background-color: #2c3e50;
  position: fixed;
  top: 60px;
  width: 100%;
  padding: 20px 0;
  /* height: calc(100% - 60px); */
  overflow-y: auto;
  left: 100%;
  transition: left 0.3s;
}

.nav-menu-item {  
  font-size: 15px;
  margin: 0 10px;  
  /* text-transform: uppercase; */
  width: max-content;
  padding: 0.5rem 0;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover{
  background-color: #034574;
  color: #83c5f7
}

/* TOGGLE */
.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
  display: block;
}

.nav-menu_visible {
  left: 0;
}

.nav-toggle:focus:not(:focus-visible) {
  outline: none;
}

/* Cuerpo */
.main{
  margin: 1rem 1rem;
  padding-top: 1rem;
}
.main section{
  display: flex;
  flex-direction: column;
}
.main section:nth-child(1){
  justify-content: center;
}
.main section:nth-child(1) img{
  border-radius: 0.5rem;

}
.main figure{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}
.main figure img{
  width: 10rem;
}
.nombreEmpresa{
  color: #6E85B7;
  font-size: 2rem;
}
.subNombreEmpresa{
  color: #83c5f7;
  font-size: 0.8rem;
}
.principio-de-trabajo{
  padding: 1rem 1rem;
}
.principio-de-trabajo{
  background-color: #EEF1FF;
}
.principio-de-trabajo h1{
  font-size: 1.2rem;
}
.principio-de-trabajo ul{
  margin: 1rem;
}
.principio-de-trabajo ul li{
  font-size: 0.8rem;
}



/* Footer */
.footer {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10vh;
  padding: 1rem 2rem;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;
  background-color: #6E85B7;
  text-align: center;
}
.social_links a{
  font-size: 1.5rem;
  padding: 0.5rem;
}
.social_links i{
  color: black;
}
.author small{
  font-size: .6rem;  
}
.author a{  
  text-decoration: none;
  color: antiquewhite;

}


@media (min-width:415px){
  .social_links a{
    font-size: 2rem;
    padding: 0.5rem;
  }  
}

/* Pantallas grandes */
@media (min-width:800px){
  /* .header {    
    height: 80px;    
  } */

  /* .logo { */
    /* font-size: 30px;     */
    /* padding: 0 40px; */
    /* line-height: 80px; */
  /* } */
  .nav-menu {    
    /* margin-right: 40px; */
    flex-direction: row;
    background: none;
    position:relative;
    left: 0;
    top: 0;
    /* height: auto; */
    padding: 0 2rem;    
    /* right: 0; */
    /* padding-left: 15vw; */
    justify-content: center;
    width: auto;
  } 
  

  .nav article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 0 5rem; */
  }

  .nav-toggle {
    display: none;
  } 

  .principio-de-trabajo{
    /* padding-left: 5rem;
    padding-right: 5rem; */
    max-width: 70vw;
    margin: auto;
    font-size: 1rem;
  } 
}


@media (min-width:900px){
  /* .nav-menu{
    padding-left: 28vw;
  }   */
  .main {
    display: flex;
    flex-direction: row;
  }
}
/* @media (min-width:1320px){
  .nav-menu{
    padding-left: 21vw;
  }
} */